:root {
    /* Primary Colors */
    --primary-light: #80CBC4;
    --primary-default: #009688;
    --primary-dark: #004D40;

    /* Secondary Colors */
    --secondary-light: #FFE082;
    --secondary-default: #FFC107;
    --secondary-dark: #FF6F00;

    /* Background Colors */
    --background-light: #FAFAFA;
    --background-dark: #121212;

    /* On Primary Colors */
    --on-primary-light: #FFFFFF;
    --on-primary-default: #FFFFFF;
    --on-primary-dark: #121212;

    /* On Secondary Colors */
    --on-secondary-light: #121212;
    --on-secondary-default: #121212;
    --on-secondary-dark: #FFFFFF;
}
/* Overall Page Layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    max-width: auto;
    margin: auto;
}

/* Sidebar Styles */
.sidebar {
    padding: 20px;
    background-color: var(--background-light);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.sidebar-right {
    float: right;
    width: 20%;
    background-color: var(--background-light);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.sidebar h4 {
    color: var(--on-primary-dark);
    border-bottom: 1px solid var(--secondary-light);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar iframe {
    width: 100%; 
    height: 30em; 
    border: none;
    margin: 0; 
    padding: 0; 
    display: block;
    overflow: auto;
    margin-top: 10px;
}

/* Main Post Styles */
.post-body {
    float: left;
    width: 75%;
    background-color: var(--background-light);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    overflow: visible;
    border-radius: 10px;
}

.blog-content {
    padding: 20px;
}

.blog-title, .full-article h2 {
    margin: 0 0 10px 0;
    color: var(--on-primary-dark);
    font-size: 24px;
}

.blog-description {
    color: var(--on-secondary-light);
    line-height: 1.6;
}

.blog-link, .full-article a {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--primary-default);
    color: var(--on-primary-light);
    border-radius: 4px;
}

.full-article {
    padding: 20px;
}

.full-article h3 {
    font-size: 20px;
    border-bottom: 1px solid var(--primary-dark);
}

.home-btn {
    display: block;
    color: var(--on-primary-light);
    background-color: var(--primary-default);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.profile-picture {
    width: 250px;               /* Fixed width */
    height: 300px;              /* Fixed height */
    float: center;               /* Position to the right */
    margin-left: 20px;          /* Spacing on the left */
    margin-bottom: 20px;        /* Spacing at the bottom */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
    border-radius: 15px;        /* Rounded corners */
    border: 2px solid rgba(0, 0, 0, 0);     /* Subtle border */
    object-fit: cover;          /* Prevent image from stretching */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.profile-picture:hover {
    transform: scale(1.05);     /* Slightly scale up the image on hover */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); /* Increase shadow depth on hover */
}
.home-btn:hover {
    background-color: var(--primary-dark);
}

/* Hide sidebar on mobile */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .sidebar-right{
        display: none;
    }
}

body.dark-mode {
    background-color: #101010;
}

body.dark-mode .sidebar, 
body.dark-mode .post-body,
body.dark-mode .sidebar-right{
    background-color: var(--background-dark);
    color: var(--on-primary-default);
}

body.dark-mode .sidebar h4, 
body.dark-mode .blog-title, 
body.dark-mode .full-article h2, 
body.dark-mode .full-article h3 {
    color: var(--on-primary-light);
    border-bottom: 1px solid var(--secondary-dark);
}

body.dark-mode .blog-description {
    color: var(--on-secondary-dark);
}

body.dark-mode .blog-link, 
body.dark-mode .full-article a, 
body.dark-mode .home-btn {
    background-color: var(--primary-default);
    color: var(--on-primary-default);
    border: none;
}

body.dark-mode .home-btn:hover {
    background-color: var(--primary-light);
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-dark);
    transition: .4s;
    border-radius: 34px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--on-primary-light);
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input:checked + .slider {
    background-color: var(--primary-default);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider:hover {
    background-color: var(--primary-light);
}

input:checked:hover + .slider {
    background-color: var(--primary-dark);
}

nav {
    padding: 12px 16px;
    background-color: var(--background-light);
    border-radius: 4px;
}

nav.dark-mode {
    background-color: var(--background-dark);
    color: var(--secondary-default);
}


.header-image {
    width: 100%;            /* Ensure it spans the full width of its container */
    max-width: 100%;        /* To make sure it doesn't exceed the container width */
    height: 20%;          /* Maintain the image's aspect ratio */
    margin-bottom: 20px;    /* Add some space below the image */
    display: block;         /* Ensures it's always treated as a block element */
    border-radius: 10px;    /* Soften the edges a bit to match your design */
    object-fit: cover;      /* If you decide to set a height, this will ensure it scales appropriately */
}
.inline-image:hover{
    transform: scale(1.05);     /* Slightly scale up the image on hover */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}
.inline-image {
    max-width: 25%;       /* Ensure the image doesn't exceed its container's width */
    height: auto;          /* Maintain the image's aspect ratio */
    margin: 15px 0;        /* Add some vertical spacing above and below the image */
    display: block;        /* Makes sure it's treated as a block element */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Optional: add a subtle shadow for some depth */
    border-radius: 6px;    /* Consistent with your design's rounded edges */
}
.image-left {
    float: left;
    margin-right: 15px;   /* Add spacing to the right */
}

.image-right {
    float: right;
    margin-left: 15px;    /* Add spacing to the left */
}
.reset {
    all: initial !important;
}